<div class = "jumbotron">
    <h1>Welcome to my app</h1>
    <p>This website allows user to sign-up and post pictures on the website, and
       users can browse all the pictures.
       This website is built by Ruby On Rails framework.</p>
    <%= link_to 'About Me', home_about_path, class:'btn btn-default' %>
    <%= link_to 'Home', root_path, class:'btn btn-primary' %>
</div>